/* Сброс отступов и стандартных стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

header {
    background-color: #f8e5bb;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li.logo {
    display: flex;
    align-items: center;
    margin-right: auto; /* Логотип слева */
}

nav ul li.logo img {
    width: 40px; /* Настроить размер иконки */
    height: 40px;
    margin-right: 10px;
}

nav ul li.logo span {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

main {
    text-align: center;
    margin: 20px 0;
}

.intro p {
    font-size: 18px;
    margin: 10px 0 20px;
}

.options p {
    font-size: 18px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d1bfa3;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #a18f72;
}

footer {
    background-color: #f8e5bb;
    padding: 40px 20px;
    text-align: center;
    margin-top: 20px;
}

footer section {
    margin-bottom: 20px;
}